<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>南京出版社</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body >
		<div class="downloadBox">
			<div class="main">
				<div class="top cc">
					<img src="images/296x173_3.jpg">
					<h3>电子资料栏目简介：</h3>
					<p>提供：相关的免费电子书下载</p>
				</div>
				<ul class="downloadList">
					<li  ng-repeat="x in result.list">
						<img src="{{x.pic_url}}">
						<h2>{{x.title}}</h2>
						<div class="time"><cite>2017年01月16日</cite><code>阅读 {{x.readnum}}次 </code></div>
						<a ui-sref="publichead.downloaddetail({id:x.read_id})" class="btns"><code></code>点击下载</a>
					</li>
				</ul>
				<p class="tabs">
					<span ng-click="preData()">上一页</span>
					<span ng-class="{true: 'currentd', false: ''}[x==p]" ng-repeat="x in arrs" ng-click="thisData(x)">{{x}}</span>
					<span ng-click="nexData()">下一页</span>
				</p>
			</div>
		</div>
		<script src="js/jquery.js"></script>
</html>